/* CSS Document */

/* The map css */
.center {
	position: absolute;
	margin: auto;
    top: 100;
    left: 100;
    right: 100;
    bottom: 100;
	height: 731px;
	width: 816px;
}

.center{
	text-align: center;
	background-image: url("imgs/cross_1.png");
}

/*The light css */
.light_left1{
	align-content: center;
	position: relative;
	width: 30px;
	height: 84.5px;
	top:-110px;
	left: 200px;
}

.div1{
	position:absolute;
	z-index:3;
}
.div2{
	position:absolute;
	z-index:2;
}
.div3{
	position:absolute;
	z-index:1;
}

.green{
	transform: scale(0.05);
}

.red{
	transform: scale(0.05);
}

.yellow{
	transform: scale(0.05);
}

/* The vehicle css */
.vehicle_row{
	height: 55px;
	width: 100px;
	transform: scale(0.9);
	position: absolute;
}

.vehicle_column{
	height: 123px;
	width: 55px;
	position: absolute;
}

#car {
	top: 358px;
	background-image: url("imgs/car_1.png");
}

#car_2 {
	left: 360px;
	top: -10px;
	background-image: url("imgs/car_2.png");
	transform: scale(0.7);
}


